{% extends 'home_page/header_footer.html' %}
{% block title %}
    Blog
{% endblock title %}
{% load static %}
{% load active_link_tags %} 
{% block content %}
{% url 'blog' as url %}

<div class="col-12 col-lg-9 px-lg-4">
    <section class="resume-summary-section resume-section">
        <h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-2 py-lg-3"><i class="resume-section-heading-icon bi bi-cup-hot me-2"></i>Blog</h3>
        <div class="resume-summary-desc">
            <h6>Hi, I'm Eric, a 36-year-old Bricklayer trying to land my first job as a developer.</h6>
            <p class="mt-n1 w-75">Join me on this journey! My blog will chronicle my classes, my side projects, document my self-learning adventures, and share my thoughts on the crazy world of tech.</p>
        </div>
    </section>
    
    <hr>
    <section class="resume-experience-section resume-section">
        {% for Post in Post_object %}
        <h5 class="text-uppercase py-2 py-lg-3 py-3"><i class="resume-section-heading-icon bi bi-file-earmark-text me-2"></i><a href="{% url 'post' slug=Post.slug %}">{{ Post.title }}</a></h5>
        <div class="position-relative">
            <article class="position-relative pb-5">
                
                <div class="mb-2">
                    
                    <div class=" d-flex justify-content-between mb-1">
                        <div>{{ Post.created_on |date:'d-M-Y'}}</div>
                        <ul class="list-inline">
                            {% for Category in Post.categories.all %}
                            <li class="list-inline-item"><span class="badge {{ Category.color }}">{{ Category.name }}</span></li>
                            {% if not forloop.last %}{% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <h6 class="fw-bolder">{{ Post.short }}</h6>
                </div>
                <div>  
                       <span class="fw-light">{{ Post.body|truncatechars_html:89|safe }}</span>
                </div>

            </article>
        </div>
        {% endfor %}
    </section>
</div>
{% block aside %}
{% include 'home_page/aside_blog.html' %}
{% endblock %}
{% endblock content %}