{% extends 'home_page/header_footer.html' %}
{% block title %}
    Home
{% endblock title %}
{% load static %}
{% block content %}
{% url 'index' as url %}
								<div class="col-main col-12 col-lg-8 pe-lg-4">
									<section class="resume-summary-section resume-section">
										<h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-2 py-lg-3"><i class="resume-section-heading-icon bi bi-person me-2"></i>About Me</h3>
										<div class="resume-summary-desc">
											Summarise your career profile here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
										</div>
									</section><!--//resume-section-->
									
									<hr>
									
									<section class="resume-experience-section resume-section">
										<h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"><i class="resume-section-heading-icon bi bi-briefcase me-2"></i>Work Experience</h3>
										<div class="resume-timeline position-relative">
											{% for Education in Education_object %}  
      
											<article class="resume-timeline-item position-relative pb-5">
											  <div class="resume-timeline-item-header mb-2">
									
												<div class="resume-position-meta d-flex justify-content-between mb-1">
												  <div class="resume-position-time">({{ Education.start_date |date:'Y' }} - {{ Education.end_date |date:'Y' }})  {{ Education.school }} </div>
												  <div class="resume-company-name">
													{{ Education.grade }}
												  </div>
												</div>
									
												<h3 class="resume-position-title mb-1">{{ Education.program }}</h3>
									
											  </div><div class="resume-timeline-item-desc">
									
												<ul class="resume-timeline-list">

												</ul>
									
											</div></article>
									
										  {% endfor %}

							            </div><!--//resume-timeline-->
									</section><!--//resume-experience-section-->
								</div>
								<!--ASIDE SECTION-->
								{% block aside %}
								{% include 'home_page/aside.html' %}
								{% endblock %}

{% endblock content %}