{% extends 'home_page/header_footer.html' %}

{% block title %}
    Work
{% endblock title %}

{% load static %}

{% block content %}

{% url 'work' as url %}

<div class="col-main col-12 col-lg-9 ps-lg-4">

  <section class="resume-summary-section resume-section">
    <h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-2 py-lg-3">
      <i class="resume-section-heading-icon bi bi-gear me-2"></i>My Work
    </h3>
    <div class="resume-summary-desc">
      These are some of the projects I've worked on.
    </div>
  </section><hr>

  <section class="resume-experience-section resume-section">
    <h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-3">
      <i class="resume-section-heading-icon bi bi-briefcase me-2"></i>Projects
    </h3>
    <div class="resume-timeline position-relative">
        {% for Work in Work_object %}
        <article class="resume-timeline-item position-relative pb-5" id="{{ Work.id }}">

            <div class="resume-timeline-item-header mb-2">

                <div class="resume-position-meta d-flex justify-content-between mb-1">
                    <div class="resume-position-time">{{ Work.created_date |date:'Y-M'}}</div>
                    <div class="resume-company-name mx-2 lang_icon_box">
                      {% for Language in Work.programming_languages.all %}
                      <i class="{{ Language.icon }} h3 mx-2 lang_icon"><a href="#" data-toggle="tooltip" title="Title Here"></a></i>
                        {% endfor %}
                    </div>
                </div>
                <h3 class="resume-position-title mb-1">{{ Work.name }}</h3>
            </div>

            <div class="resume-timeline-item-desc">

                <ul class="resume-timeline-list resume-timeline-item-desc">
                    <li>{{ Work.short_intro }}</li>
                    <img class="mr-3 img-fluid post-thumb d-none d-md-flex rounded-2 mb-2 work_img" src="{{ Work.work_images.url }}" alt="image">
                    <span>Link:</span> <a href="{{ Work.github_link }}" class="bi bi-github h4 mx-2"></a><a href="{{ Work.website_link }}" class="bi bi-link h4"></a>
                </ul>

            </div></article>
    {% endfor %}
    </div></section></div>

{% block aside %}
  {% include 'home_page/aside.html' %}
{% endblock %}

{% endblock content %}

